*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#dummy-header{
    width: 100%;
    height: 100px;
}
/**********************************************************************/
/* header form
/**********************************************************************/
header{
    width: 100%;
    height: 100px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#main-header{
    width: 100%;
    background-color: #b8e6f5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}
#header-logo{
    height: 100%;
    margin-left: 10px;
}
#header-logo a{
    width: 100%;
    height: 100%;
}
#header-logo a img{
    height: 100%;
}
.header-title{
    width: 100%;
    height: 100%;
    margin-left: 30px;
}
#title{
    width: 100%;
    height: 60%;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
@media screen and (max-width: 1199px) {
    #title{
        font-size: 24px;
    }
}
@media screen and (max-width: 787px) {
    #title{
        font-size: 18px;
    }
}
#header-link-list{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: left;
    align-items: center;
}

/*************************************************************/
/* menu-tub-title
/*************************************************************/
.rule-btn{
    color: #1a1311;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    position: relative;
    cursor : pointer;
    margin-right: 30px;

    transition: all .3s ease;
}

.rule-btn:hover{
    border-bottom: 2px solid #1a1311;
}

.rule-slide-menu{
    position: absolute;
    width: 100vw;
    height: 400px;
    top: -1000px;
    left: 0;
    background-color: #c4c4c4;
    z-index: -100;
    overflow-y: scroll;

    display: flex;
    transition: top 0.3s ease-in-out;
}

.rule-slide-menu.active{
    top: 100px;
}

.rule-text{
    width: clac(100% - 160px);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 80px;
}
.rule-text h1{
    font-size: 24px;
}
.rule-text p{
    font-size: 16px;
    margin: 10px 0;
}
.rule-text ol{
    padding: 0px 25px;
}
.rule-text ul{
    padding: 10px 40px;
}

@media screen and (max-width: 787px) {

    .rule-slide-menu{
        height: 600px;
    }
    .rule-text{
        margin: 0 30px;
    }
}
/**********************************************************************/
/* main form
/**********************************************************************/

#quiz-form{
    width: 100%;
    padding: 0 40px;
    margin-top: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/**********************************************************************/
/* cards-form
/**********************************************************************/
#cards-form{
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 120px);
    gap: 15px;
}
.card{
    width: 210px;
    height: 120px;
    margin: 0 auto;
    color: white;
    font-size: 20px;
    background-color: none;
    border: 1px solid #cccccc;
    cursor : pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease;
}
.card img{

}
.revealed{
    color: #333333;
    background-color: #cccccc;
    cursor : default;
}
@media screen and (max-width: 1199px) {

    #cards-form{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 120px);
        gap: 10px;
        max-width: 800px;
    }
    .card{
        font-size: 18px;
    }
}
@media screen and (max-width: 787px) {
    #cards-form{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 120px);
        gap: 5px;
        max-width: 600px;
    }
    .card{
        font-size: 16px;
    }
}
/**********************************************************************/
/* input-form
/**********************************************************************/
#input-form{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#answer-input{
    padding: 5px;
}
.ts-control {
    min-height: auto;
    height: 52px; /* 入力エリアの縦幅を固定または変更 */
    padding: 0 !important;
    cursor: pointer;
}
.ts-wrapper {
    width: 400px;
}
.ts-dropdown-content {
    max-height: 40vh; /* お好みの縦幅に変更してください */
}

.ts-dropdown-content > .option {
    font-size: 1rem;
}

.choices{
    width: 100%;
    height: 100%;
    display: flex !important;
    align-items: center;
    font-size: 16px;
}
.choices img{
    width: 50px;
    margin-right: 5px;
}
#submit-btn{
    width: 5rem;
    height: 52px;
}


/**********************************************************************/
/* result-form
/**********************************************************************/
#result-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#result1,
#result2{
    text-align: center;
}
#result1{
    font-size: 18px;
}
#result2{
    font-size: 16px;
}

#result-image{
    width: 40%;
}
@media screen and (max-width: 1199px) {
    #result-image{
        width: 60%;
    }
}
@media screen and (max-width: 787px) {
    #result-image{
        width: 80%;
    }
}
/**********************************************************************/
/* score-form
/**********************************************************************/
#score-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#score-board{
    font-size: 24px;
    margin: 10px 0;
}
#share-links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screenshot-btn,
#X-share-btn,
#Mi-share-btn{
    display: block;
    cursor : pointer;
    text-decoration: none;
    text-align: center;
    width: 150px;
}
#screenshot-btn{
    color: black;
    background-color: #b8e6f5;
}
#X-share-btn{
    color: white;
    background-color: black;
}
#Mi-share-btn{
    color: white;
    background-color: #90cf0f;
}